/******
	Add you style rules below in this file 
	
	Requirements:
	The main container should be 500px wide and centered.
	
	Colors:
	dark orange color: #DB4006
	light orange color: #ec9371

******/


body {
	font-family: Helvetica;
}

.container {
    height: auto;
    padding: 0;
    margin: 0 auto;
    max-width: 500px;
    width: 80%;
}

.item-list {
    width: 100%;
  
}

.item:first-child {
	margin-top: 0.5em;
}

.item {
 	background-color: #DB4006;
    width: auto;
    min-height: 30px;
    color: #fff;
    text-align: left;
    margin-bottom: 0.5em;
    border-radius: 5px;
    border: 1px solid #000;
}

.title {
	float: left;
	padding: 0.5em 0 0.5em 1em;
	font-weight: bold;
	width: 86%;
	margin-right: 0.5em;
}

.close {
	float: right;
	color: #000;
	padding: 0.5em 0.5em 0 0;
	width: 3%;
}

.description {
	background-color: #ec9371;
	clear: both;
	padding: 0.75em 1em;
	font-size: 14px;
	line-height: 14px;
	color: #000;
}

.hide {
	display: none;
}